* {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.pagina-de-destino header {
  min-height: 80px;
  display: flex;
}

@media (max-width: 767px) {
  .pagina-de-destino header {
    min-height: auto;
    display: initial;
  }
}

.pagina-de-destino header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .pagina-de-destino header .container {
    flex-direction: column;
    justify-content: center;
  }
}

.pagina-de-destino header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}

@media (max-width: 767px) {
  .pagina-de-destino header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

.pagina-de-destino header .links {
  display: flex;
  align-items: center;
}

@media (max-width: 767px) {
  .pagina-de-destino header .links {
    text-align: center;
    gap: 10px;
  }
}

.pagina-de-destino header .links li {
  margin-left: 30px;
  color: #5d5d5d;
  cursor: pointer;
  transition: .3s;
}

@media (max-width: 767px) {
  .pagina-de-destino header .links li {
    margin-left: auto;
  }
}

.pagina-de-destino header .links li:last-child {
  border-radius: 20px;
  padding: 10px 20px;
  color: #FFF;
  background-color: #6c63ff;
}

.pagina-de-destino header .links li:not(:last-child):hover {
  color: #6c63ff;
}

.pagina-de-destino .conteudo .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}

@media (max-width: 767px) {
  .pagina-de-destino .conteudo .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}

@media (max-width: 767px) {
  .pagina-de-destino .conteudo .info {
    text-align: center;
    margin-bottom: 15px 
  }
}

.pagina-de-destino .conteudo .info h1 {
  color: #5d5d5d;
  font-size: 44px;
}

.pagina-de-destino .conteudo .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 15px;
  color: #5d5d5d;
}

.pagina-de-destino .conteudo .info button {
  border: 0;
  border-radius: 20px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: #FFF;
  background-color: #6c63ff;
}

.pagina-de-destino .conteudo .img img {
  max-width: 100%;
}